body {
    &.with-left-menu {
        @extend %flex-container-horizontal;
        padding-left: 15rem;
    }
}

.main-header {
    @extend %flex-container-horizontal;
    justify-content: space-between;
    align-items: center;
    background-color: $color-brand-dark-blue;
    height: 6rem;
    padding: $grid-gutter/2 $grid-gutter;
    h1 {
        margin: 0;
    }
}

.app-nav {
    position: fixed;
    height: 100vh;
    background-color: $color-brand-dark-blue;
    letter-spacing: 0.1875rem;
    flex: 0 0 15rem;
    left: 0;
    top: 0;
    h1 {
        margin: 0 0 0 $grid-gutter;
        font-size: 1.3rem;
    }
    .back-link {
        background-color: $color-brand-light-blue;
        color: $color-brand-dark-blue;
        display: block;
        padding: $grid-gutter;
        color: #fff;
        text-transform: uppercase;
        &::before {
            content: "<";
            margin-right: $grid-gutter/2;
        }
    }
    header {
        @extend %flex-container-horizontal-center;
        padding: $grid-gutter;
        background-color: $color-brand-grey;
        figure {
            flex: 0 0 3rem;
            svg path {
                fill: #fff;
            }
        }
        .text {
            flex: 1 1 12rem;
            display: flex;
            align-items: center;
        }
    }
}

.main-content {
    flex: 1 1 auto;
}

.site-logo {
    display: block;
    position: fixed;
    height: 8rem;
    bottom: $grid-gutter;
    right: $grid-gutter;
    img,
    svg {
        max-height: 100%;
        height: 100%;
    }
}

.page-content {
    padding: $grid-gutter;
}

.content-box {
    background-color: #333;
    padding: $grid-gutter;
    margin: $grid-gutter;
    box-shadow: .25rem .25rem 0 #232323;
}

.centered-app {
    @extend %fixed-width-at-desktop;
    margin: 0 auto;
    padding: $grid-gutter;
}