@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');
$font-family-default:'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-default : 100%;
$font-size-h1 : 2.875rem;
$font-size-h2 : 2.125rem;
$font-size-h3 : 1.5rem;
$font-size-h4 : 1.3rem;
$font-size-h5 : 1.15rem;
$font-wight-h1 : 300;
$font-wight-h2 : 300;
$font-wight-h3 : 300;
$font-wight-h4 : 300;
$font-wight-h5 : 300;