.application-page {
    @extend %flex-container-vertical-center;
    >ul {
        @extend %flex-container-horizontal-center;
        flex-wrap: wrap;
        li {
            display: block;
            background-color: #f4f4f4;
            margin: $grid-gutter;
            flex: 0 1 15rem;
        }
        a {
            display: block;
            color: #444;
            font-size: 2rem;
            padding: $grid-gutter;
            text-align: center;
            &:hover {
                box-shadow: 0 0 2rem $color-brand-yellow;
            }
        }
        figure {
            padding: $grid-gutter*2;
        }
    }
}