@import '../../../styles/Settings/all';

.action-menu {
    background-color: $color-brand-dark-blue;
    nav {
        a {
            color: #fff;
            display: block;
            padding: $grid-gutter/2 $grid-gutter;
            border-bottom: 0.0625rem solid rgba(82, 90, 99, .5);
            text-transform: uppercase;
        }
    }
}