<template>
    <require from="./action_menu.scss"></require>
    <aside class="action-menu">
        <nav>
            <a href="/bounded-context">
                <img src="../../../assets/icons/pyramide.svg" alt="">
                <span>Overview</span>
            </a>
            <a href="/bounded-context/build">
                <img src="../../../assets/icons/cube.svg" alt="">
                <span>Build</span>
            </a>
            <a href="/bounded-context/build">
                <img src="../../../assets/icons/layers.svg" alt="">
                <span>Deployment</span>
            </a>
            <a href="/bounded-context/health">
                <img src="../../../assets/icons/pyramide.svg" alt="">
                <span>Monitor</span>
            </a>
            <a href="/bounded-context/build">
                <img src="../../../assets/icons/cube.svg" alt="">
                <span>Resources</span>
            </a>
            <a href="/bounded-context/build">
                <img src="../../../assets/icons/pyramide.svg" alt="">
                <span>Events</span>
            </a>
        </nav>
    </aside>
</template>