@import '../../../styles/Settings/all';

.action-menu {
    nav {
        a {
            color: #fff;
            display: block;
            padding: 1rem;
            white-space: nowrap;
            img {
                width: 1rem;
                max-width: unset;
            }
            span {
                margin-left: $grid-gutter/2;
            }
        }
    }
    .expanded & {
        nav {
            a {
                span {
                    display: inline-block;
                }
            }
        }
    }
}
