<section class="page-content application-page">
    <h1>Your applications</h1>
    <ul>
        <li>
            <a href="/bounded-context/">
                <figure>
                    ${require('../../assets/icons/brick.svg')}</figure>
                Build</a>
        </li>
        <li>

            <a href="/bounded-context/">
                <figure>
                    ${require('../../assets/icons/deploy.svg')}</figure>
                Deploy</a>
        </li>
        <li>

            <a href="/bounded-context/">
                <figure>
                    ${require('../../assets/icons/brick.svg')}</figure>
                Stats</a>
        </li>
        <li>
            <a href="/bounded-context/">
                <figure>
                    ${require('../../assets/icons/roi.svg')}</figure>
                Studio</a>
        </li>
        <li>
            <a href="/bounded-context/">
                <figure>
                    ${require('../../assets/icons/brick.svg')}</figure>
                CLI</a>
        </li>
    </ul>
</section>