@import '../../styles/Settings/all';
@import '../../styles/Tools/all';

.welcome {
    @extend %fixed-width-at-desktop;
    padding: $grid-gutter * 2;
    min-height: 100%;
    @include media-bp-min(tablet) {
        min-height: 40vh;
        margin: $grid-gutter * 10 auto;
    }
}
