$color-brand-orange: #f69941;
$color-brand-dark-blue: #29588c; // 41, 88, 140
$color-brand-light-blue: #4282d0; // 66, 130, 208
$color-brand-teal: #8dd0de;
$color-brand-mint: #a7d9bc;
$color-brand-grey-lightest: #e5e5e5;
$color-brand-grey-light: #999;
$color-brand-grey-medium: #666;
$color-brand-grey-dark: #333;
$color-brand-secondary-red:#e15f55;
$color-brand-secondary-yellow:#ffd96a;
$color-brand-secondary-purple:#82446d;
$color-brand-secondary-beige:#d8cebc;
$color-brand-secondary-green:#486c63;
$default-border-color: #D1DDE0;
