@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$font-family-default:'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-default : 100%;
$font-size-h1 : 2.5rem;
$font-size-h2 : 2.3rem;
$font-size-h3 : 2rem;
$font-size-h4 : 1.8rem;
$font-size-h5 : 1.5rem;
$font-wight-h1 : 300;
$font-wight-h2 : 300;
$font-wight-h3 : 300;
$font-wight-h4 : 300;
$font-wight-h5 : 300;