.bounded-context {
    @extend %flex-container;
    padding: $grid-gutter*3 $grid-gutter;
    >.content-box {
        flex: 1 0 20rem;
        h1 {
            border-bottom: 0.0625rem solid #ccc;
        }
        dl {
            @extend %flex-container;
            flex-wrap: wrap;
            line-height: 3rem;
            dt,
            dd {
                flex: 1 1 10rem;
                border-bottom: .0625rem dotted #ccc;
                padding: .25rem;
            }
            dt {}
            dd {
                font-size: 2rem;
                font-weight: 300;
                text-indent: 1rem;
            }
            .yay {
                color: transparent;
                text-shadow: 0 0 0 green;
            }
            .nay {
                color: transparent;
                text-shadow: 0 0 0 red;
            }
            &.uptime-status {
                letter-spacing: .125rem;
                strong {
                    text-transform: uppercase;
                    margin-left: .125rem;
                }
            }
        }
    }
}