.build-app {
    h1 {
        text-align: center;
    }
    .build-details {
        @extend %flex-container-vertical;
        padding: $grid-gutter*1.5 0;
        a {
            color: #fff;
            font-size: 1rem;
            max-width: 70%;
            ;
        }
        small {
            color: #bbb;
            &.commit-details {
                flex: 0 1 25rem;
            }
            &.build-time {
                margin-left: auto;
            }
        }
        .row {
            @extend %flex-container;
            &.top {
                margin-bottom: $grid-gutter/2;
            }
        }
    }
    .build-list {
        .build-details {
            border-top: .0625rem solid #ccc;
            &:first-child {
                border-top: none;
            }
        }
    }
}