@import '../styles/Settings/all';
@import '../styles/Tools/all';

.main-content {
    flex: 1 1 auto;
}


.page-content {
    padding: $grid-gutter;
}

.content-box {
    background-color: #333;
    padding: $grid-gutter;
    margin: $grid-gutter;
    box-shadow: 0.25rem 0.25rem 0 #232323;
}

.centered-app {
    @extend %fixed-width-at-desktop;
    margin: 0 auto;
    padding: $grid-gutter;
}
